@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-zoom {
  animation: logoZoom 2s ease-out forwards;
}

@keyframes logoZoom {
  0% {
    transform: scale(1) rotate(-50deg); /* tamaño y posicion inicial */
    opacity: 1; /* opacidad inicial */
  }
  50% {
    transform: scale(1) rotate(15deg); /* tamaño y posicion inicial */
    opacity: 1; /* opacidad inicial */    
  }  
  70% {
    transform: scale(1) rotate(-7deg); /* tamaño y posicion inicial */
    opacity: 1; /* opacidad inicial */    
  }  
  85% {
    transform: scale(1) rotate(5deg); /* tamaño y posicion inicial */
    opacity: 1; /* opacidad inicial */
  }
  100% {
    transform: scale(1) rotate(0deg); /* tamaño y posicion inicial */
    opacity: 1; /* opacidad inicial */
  }
}
